{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tienda - Inicio</title>
    <link rel="stylesheet" href="{% static 'catalogo/styles.css' %}">
</head>

<body>


    {% if user.is_authenticated %}
    <p>
        Hola {{ user.username }} |
    <form method="post" action="/logout/" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    </p>
    {% else %}
    <p>
        <a href="/login/">Iniciar sesión</a>
    </p>
    {% endif %}

    <h1>Bienvenido a la tienda</h1>
    <p>Selecciona una opción para continuar:</p>

    <a href="/catalogo/">Ver catálogo</a>

    {% if user.is_authenticated and user.is_staff %}
    <a href="/gestion/productos/">Gestionar productos</a>
    {% endif %}

</body>

</html>